APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString


DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

LUOSIMAO_API_KEY=

ADMIN_DOMAIN=
OPEN_DOMAIN=
AIR_DOMAIN=

MD_USER_API_URL=

SESSION_DOMAIN=

SMS_KEY=

MD_USER_API_TOKEN=

QINIU_DEFAULT=
QINIU_HTTPS=
QINIU_CUSTOM=
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET=
QINIU_NOTIFY_URL=