/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea
/storage
/public/upload
composer.lock
_ide_helper.php
/modules/Admin/Assets/.gitkeep
/modules/Admin/Config/.gitkeep
/modules/admin/Console/.gitkeep
/modules/admin/Database/Migrations/*.gitkeep
/modules/admin/database/Seeders/.gitkeep
/modules/admin/Entities/.gitkeep
*.gitkeep
/modules/WeiXin
/modules/Wap
/php_errors.log
/resources/views/modules/airclass/template
/public/php_errors.log
/public/shop
/public/airclass/qrcodes
