img {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

.media-object {
  > div > p {
    border-bottom: 1px dashed #000;
  }
}

.reveal {
  background-color: #fbfbfb;
}

.help-text {
  color: #ec5840;
}

.information {
  .header {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 2;
    margin-top: -4.5rem;
    width: 100%;
    height: 3rem;
    background-color: #fbfbfb;
    border-radius: 3rem 3rem 0 0;
    box-shadow: 0 -.5rem .5rem #eee inset;

    div {
      height: .5rem;
    }

    span {
      &:nth-child(2) {
        font-weight: bold;
      }
      padding-left: 3rem;
    }
  }
}

.top-bar {
  background-color: #fbfbfb;

  ul {
    background-color: #fbfbfb;
  }
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
  width: auto;
}

.media-object {
  font-size: 90%;
  .columns {
    &:last-child {
      margin-top: .5rem;
    }
  }

  h4 {
    font-weight: bold;
  }

  i {
    font-size: 120%;
    color: #888;
  }
}

.button {
  border-radius: .2rem;
  background-color: #6a8b66;
  &:hover, &:focus {
    background-color: #507a55;
  }
}

.collapse {
  .tabs {
    background-color: #6a8b66;
    color: #fbfbfb;
    li {
      background-color: #6a8b66;
    }
    .tabs-title > a {
      &:focus, &:hover, &[aria-selected=true] {
        background-color: #507a55;
      }
      padding: .8rem 1.5rem;
      font-size: 1rem;
    }
  }
  .tabs-content {
    background-color: inherit;
    border: none;
    #panel0 {
      padding: 0;

      > div {
        padding: 2rem 0 1rem 0;
        border-bottom: 1px dashed #555;
        &:last-child {
          border: none;
        }
      }
    }
    .span {
      display: inline-block;
      font-size: 90%;
    }
  }

  #panel1 {
    > div {
      padding-top: 1rem;
      border-bottom: 1px solid #aaa;

      .medium-3 {
        text-align: center;
        padding-bottom: 2rem;
        img {
          width: 200px;
        }
      }

      .gray {
        color: #aaa;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  #panel2 {
    .question-title {
      background-color: #eee;
      padding: .5rem;
    }
    p {
      padding: .5rem;
    }
  }

}

.footer {
  background-color: #f1f1f1;
  img {
    width: 100%;
  }
}

.video {
  background-color: #555;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #eee;

  .video-list {
    overflow-y: auto;
    h5 {
      padding: .5rem;
      margin: 0;
      background-color: #000;
      border-bottom: 1px solid #555;
    }
    li {
      background-color: #333;
    }

    a {
      border-bottom: 1px solid #000;
    }

    .is-accordion-submenu-parent > a:after, .is-accordion-submenu-parent[aria-expanded=true] > a:after {
      border-color: #eee transparent transparent;
    }
  }
}