/* form */
.singn_main_body {
	width: 600px;
	margin-top: 20px;
}
.singn_main_body label {
	font-weight: normal;
}
.singn_main_body input {
	background: #F9F9F9;
}
.singn_main_body .necessary {
	color: #FF0000;
}

.singn_main_body .tips {
	display: none;
	padding-top: 7px;
	white-space: nowrap;
	color: #FF0000;
}

.tips_login .btn_login {
	color: #00A0E9;	
}
.group_code {
	padding-right: 15px;
}

/* login modal */
.login_modal .modal-dialog {
	width: 400px;
}
.login_modal .title {
	margin-bottom: 24px;
}
.login_modal input,
.login_modal .checkbox_group,
.login_modal .btn_login,
.msg_login_modal .input_code_container,
.msg_login_modal .others {
	margin: 0 auto 12px;
	width: 266px;
}
.login_modal input {
	height: 36px;
}
.login_modal .btn_login {
	height: 40px;
}
.login_modal .links {
	margin-right: 10px;
}
/* wechat login modal */
.wechat_login_container {
	height: 30px;
	background: #F9F9F9;
	line-height: 30px;
}
.wechat_login {
	margin-right: 10px;
	margin-left: 20px;
}
/* msg login modal */
.msg_login_modal .tips {
	margin-top: 10px;
	font-size: 12px;
	color: #999999;
}
.msg_login_modal .input_code_container .input_code {
	width: 160px;
	margin-bottom: 0;
}
.msg_login_modal .input_code_container .btn {
	width: 100px;
	height: 36px;
}
.msg_login_modal .checkbox {
	margin: 0;
}
/* success modal */
.success_modal .modal-dialog {
	width: 260px;
}
.success_modal .modal-content {
	border-radius: 10px;
}
.success_modal .icon_success {
	position: absolute;
}
.success_modal .tips {
	margin-left: 25px;
}
.success_modal .tips_container {
	margin-top: 31px;
}
.success_modal .btn_index {
	width: 160px;
	height: 40px;
	margin: 14px auto;
}

@media (max-width: 768px) {
	.singn_main_body {
		width: 100%;
	}
	.form-horizontal .form-group {
		margin: 0;
	}
	.group_code {
		padding-right: 0;
	}
	.group_code .btn {
		margin: 5px 15px;
	}
}

@media (min-width: 768px) {
	.singn_main_body {
		position: relative;
	}
}